.body {
    width: calc(100% - 5rem);
    
    margin-left: 5rem;

    position: relative;
    top: 5rem;
    transition: all .5s ease;
    padding: 3rem;
}


.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}