
<div class="container">

    <div style="margin: 0 auto; width: 70%;">
        
        <span class="text-center" style="margin-top: 0; padding-bottom: 20px; color:black; align-items: center;">
            <p style="font-size: 25px; ">Average Number of Followers per Label</p>
            <h2 style="margin-top: 0; padding-bottom: 20px; border-top: 3px solid black; color:black;"></h2>
        </span>
    </div>



    <div class="d-flex align-items-center justify-content-center" style="padding-bottom: 10px;" >
        <div class="chart-wrapper" style="background-color: #eee;">
            <div style="border: 1px solid black; 
                    float: left;
                    margin-right: 20px;">
                <canvas id="labelpie"></canvas>
            </div>
        </div>
    </div>



    <div style="margin: 0 auto; width: 70%;">

        <span class="text-center" style="padding-top: 50px;padding-bottom: 20px; color:black; align-items: center;">
            <p style="font-size: 25px; ">Average number of Events per Label</p>
            <h2 style="margin-top: 0; padding-bottom: 20px; border-top: 3px solid black; color:black;"></h2>
        </span>
    </div>


    <div class="d-flex align-items-center justify-content-center" style="padding-bottom: 10px;">
        <div class="chart-wrapper" style="background-color: #eee;">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        </div>

        <div style="margin: 0 auto; width: 70%;">
        
        <span class="text-center" style="padding-top: 50px;padding-bottom: 20px; color:black; align-items: center;">
            <p style="font-size: 25px; ">Average number of Events per Month</p>
            <h2 style="margin-top: 0; padding-bottom: 20px; border-top: 3px solid black; color:black;"></h2>
        </span>
        </div>
        
        <div class="d-flex align-items-center justify-content-center" style="padding-bottom: 10px;">
            <div class="chart-wrapper" style="background-color: #eee;">
                <div class="chart-container">
                    <canvas id="ctx"></canvas>
                </div>
            </div>
   
        </div>

        <div style="margin: 0 auto; width: 70%;">

            <span class="text-center" style="padding-top: 50px;padding-bottom: 20px; color:black; align-items: center;">
                <p style="font-size: 25px; ">Average number of Attendies per Event</p>
                <h2 style="margin-top: 0; padding-bottom: 20px; border-top: 3px solid black; color:black;"></h2>
            </span>
        </div>

        <div class="d-flex align-items-center justify-content-center" style="padding-bottom: 10px;">
            <div class="chart-wrapper" style="background-color: #eee;">
                <div class="chart-container">
                    <canvas id="chart4"></canvas>
                </div>
            </div>

</div>

<div style="margin: 0 auto; width: 70%;">

    <span class="text-center" style="padding-top: 50px;padding-bottom: 20px; color:black; align-items: center;">
        <p style="font-size: 25px; ">Average hosted event per Adminstrator </p>
        <h2 style="margin-top: 0; padding-bottom: 20px; border-top: 3px solid black; color:black;"></h2>
    </span>
</div>

<div class="d-flex align-items-center justify-content-center" style="padding-bottom: 10px;">
    <div class="chart-wrapper" style="background-color: #eee;">
        <div class="chart-container">
            <canvas id="chart5"></canvas>
        </div>
    </div>

</div>



</div>

