
 <div class="container-toolbar">
    <div class="btn-group mr-3" role="group">
        <button type="button" class="btn btn-outline-dark" (click)="open(content)">Add an Event</button>
        <div style="padding-left: 15px;">
            <label for="FilterStartDate"  class="form-label">Starting Date</label>
            <input id="filterStartDate" name="filterStartDate" class="form-control" type="date" [(ngModel)]="filterStartDate" />
        </div>
        <div style="padding-left: 15px;">
            <label for="FilterEndDate" class="form-label">Ending Date</label>
            <input id="filterEndDate" name="filterStartDate" class="form-control" type="date" [(ngModel)]="filterEndDate" />
        </div>
        <div style="padding-left: 15px;">
            <label for="FilterName" class="form-label"> By Event Name</label>
            <input id="filterName" name="filterName" class="form-control" type="text" [(ngModel)]="filterName" />
        </div>
        <div style="padding-left: 15px;">
            <button class="btn-dark" (click)="applyFilter()"> Apply filters </button>
        </div>
    </div>
    <div class="btn-group btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info" (click)="changeView(false)" [disabled]="viewMode==false"><div><i class="fal fa-th-list" style="padding-right:5px ;"></i>ListView</div></button>
    <button type="button" class="btn btn-info" (click)="changeView(true)" [disabled]="viewMode==true"><div><i class="fal fa-calendar-minus" style="padding-right:2px"></i> CalenderView</div></button>
</div>
</div>

<div class="card shadow-none border-0 mb-0 rounded-0 d-flex justify-content-center"  >
    
<div class='demo-app-main'*ngIf="viewMode==true">
    <full-calendar [options]='calendarOptions'>
        <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
        </ng-template>
    </full-calendar>

</div>
</div>
<div *ngIf="viewMode==false">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                            <tr style="filter: brightness(80%);">
                                <th>&nbsp;</th>
                                <th>Name</th>   
                                <th>Responsable</th>

                                <th>Starting Date</th>
                                <th style="padding-left:6%;">State</th>
                                
                                <th>Remaining Spots</th>                                
                                <th>Actions</th>
                            </tr>
                        </thead>                      
                        <tbody>
                            <tr *ngFor="let event of EventList">

                                <td>
                                    <label class="align-items-center" style="align-items: center">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                    </label>
                                    </label>
                                    </td>
                             
                                
                                <td class="d-flex align-items-center">

                                    <div class="email">
                                        <span >{{event.eventName}}</span>
                                        <span style="max-width: 20em;">Labels : Croissant rouge | Donation | Coffee | Meet up </span>
                                    <!-- <span>{{ event.labels.map(label => label.value).join(' | ') }}</span>-->
                                    </div>
                                </td>
                                
                                <td style="padding-right: 10px;">{{event.responsable.firstName}} {{event.responsable.lastName}}</td>
                                <td > {{event.eventStart}}</td>
                                <td class="status"><span *ngIf="isEventActive(event.eventStart)" class="active">Soon to Happen</span>
                                <span *ngIf="!isEventActive(event.eventStart)" class="waiting">Already Happened</span>
                                <span *ngIf="isEndActive(event.eventStart,event.eventEnd)" class="alert">Happening Now</span></td>
                                <td style="padding-left: 70px;" > <p *ngIf="event.attendies"> {{event.maxAttend-(event.attendies.length)}}</p>
                                <p *ngIf="event.attendies==null"> {{event.maxAttend-0}}</p></td>                                
                                <td>
                                    <div class="btn-group"> 
                                      <button type="button" style="border: none;"><i class="fal fa-minus-circle" (click)="DeleteSwol(event)" ></i></button>
                                        <button type="button" class="mr-2" (click)="setupdate(event);open(updatemodal)">Modify</button>
                                        <button type="button" (click)="deleteEvent(event)">Delete</button>
                                    </div>
                                    <!-- 
                                        <button style="border:none;">
                                            <img src="https://w7.pngwing.com/pngs/640/178/png-transparent-x-mark-computer-icons-desktop-cerca-cross-desktop-wallpaper-check-mark.png" style="height: 30px; height: 30px;" >
                                        </button>
                                        -->
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<ng-template #content let-modal style="z-index: 3;">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Add a new Event</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="width: 80%;">
        <form>
            <div class="mb-2">
                <label for="eventName" class="form-label">Event Name</label>
                <input type="text" id="eventName" name="eventName" [(ngModel)]="toAddEvent.eventName" >
            </div>
            <div class="mb-2">
                <label for="infoInput" class="form-label">Information about the event</label>
                <textarea class="form-control" id="infoInput" name="eventInfo" [(ngModel)]="toAddEvent.eventInfo"> </textarea>
            </div>
            <div class="mb-2">
                <label for="maxInput" class="form-label">Maximum number of attendies</label>
                <input type="number" class="form-control" id="maxInput" name="maxAttend" min="0" [(ngModel)]="toAddEvent.maxAttend">
            </div>
            <div class="mb-2">
                <label for="maxInput" class="form-label">Starting Date</label>
                <input id="startDate" class="form-control" type="date" name="eventStart" [(ngModel)]="toAddEvent.eventStart" />
            </div>
            <div class="mb-2">
                <label for="maxInput" class="form-label">Ending Date</label>
                <input id="startDate" class="form-control" type="date"[(ngModel)]="toAddEvent.eventEnd" name="eventEnd" />
            </div> 
            <div class="mb-2">
            <label for="selectedValues" class="form-label">Labels</label>
            <select [(ngModel)]="selectedValues" multiple name="selectedValues">
                <option *ngFor="let label of LabelList" [value]="label">{{ label.value }}</option>
            </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');saveEvent()">Save</button>
    </div>
</ng-template>




<ng-template #updatemodal let-modal style="z-index: 3;">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Update an Event</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="width: 80%;">
        <form>
            <div class="mb-2">
                <label for="eventName" class="form-label">Event Name</label>
                <input type="text" id="eventName" name="eventName" [(ngModel)]="toUpdateEvent.eventName">
            </div>
            <div class="mb-2">
                <label for="infoInput" class="form-label">Information about the event</label>
                <textarea class="form-control" id="infoInput" name="eventInfo"
                    [(ngModel)]="toUpdateEvent.eventInfo"> </textarea>
            </div>
            <div class="mb-2">
                <label for="maxInput" class="form-label">Maximum number of attendies</label>
                <input type="number" class="form-control" id="maxInput" name="maxAttend" min="0"
                    [(ngModel)]="toUpdateEvent.maxAttend">
            </div>
            <div class="mb-2">
                <label for="maxInput" class="form-label">Starting Date</label>
                <input id="startDate" class="form-control" type="date" name="eventStart"
                    [(ngModel)]="toUpdateEvent.eventStart" />
            </div>
            <div class="mb-2">
                <label for="maxInput" class="form-label">Ending Date</label>
                <input id="startDate" class="form-control" type="date" [(ngModel)]="toUpdateEvent.eventEnd"
                    name="eventEnd" />
            </div>
            <div class="mb-2">
                <label for="selectedValues" class="form-label">Labels</label>
                <select [(ngModel)]="selectedValues" multiple name="selectedValues">
                    <option *ngFor="let label of LabelList" [value]="label">{{ label.value }}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');saveEvent()">Save</button>
    </div>
</ng-template>
