section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 20px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    margin-right: 50px;
  }
  table {
    width: 100%;
  }


  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    
  }
  .container {
  padding: 50px 20px 20px 250px; /* adjust the padding values to your liking */
  /* 50px top, 20px right, 20px bottom, and 250px left to account for the sidebar width */
}

  