<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Donate</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bradcam_area_end  -->

<!-- ================ contact section start ================= -->
<div data-scroll-index='1' class="make_donation_area section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb-55">
          <h3><span>Make a Donation</span></h3>
        </div>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()" class="donation_form">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="single_amount">
                <div class="input_field">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" for="amount">$</span>
                    </div>
                    <input type="number" class="form-control" placeholder="0" formControlName="amount" id="amount"
                           value="{{ default_amount }}" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="single_amount">
                <div class="fixed_donat d-flex align-items-center justify-content-between">
                  <div class="select_prise">
                    <h4>Select Amount:</h4>
                  </div>
                  <div class="single_doonate">
                    <input type="radio" id="blns_1" value="10" (change)="onchange_amount($event)"
                           name="select_amount">
                    <label for="blns_1">10</label>
                  </div>
                  <div class="single_doonate">
                    <input type="radio" id="blns_2"  value="30" (change)="onchange_amount($event)"
                           name="select_amount">
                    <label for="blns_2">30</label>
                  </div>
                  <div class="single_doonate">
                    <input type="radio" id="other" value="0" (change)="onchange_amount($event)"
                           name="select_amount">
                    <label for="other">Other</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="single_amount mt-3">
                <div class="input_field">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="raison">Raison: </span>
                    </div>
                    <textarea class="form-control" style="height: 120px !important;"
                              formControlName="raison" id="raison" cols="30" rows="20"></textarea>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="donate_now_btn text-center">
            <button type="submit" class="boxed-btn4">Donate Now</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- ================ contact section end ================= -->
