<app-navbar></app-navbar>
<header class="py-5 bg-image-full" style="background-image: url('../../assets/backgrounf.jpg');background-size: 100%;">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
        <h1 class="text-black fs-3 fw-bolder">Connecting People</h1>
        <p class="text-grey-50 mb-0">let's make this world a better place</p>
    </div>
</header>
<!-- Content section-->
<body>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <hr>
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <hr>
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/337999430_184531794381268_4091934847183073813_n.jpg" alt="John" style="width:100%">
            <div class="container">
                <hr>
                <h2>Jihed Makthri</h2>
                <p class="title">Cloud Computing Engineer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jihed.makthri@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Footer-->
<footer class="py-5 " style="background-color: #ed4652;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
